@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    border-bottom: 1px solid #F3F4F6;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.03);
    position: sticky;
}

.image {
    height: 25px;
    margin: 20px 40px 0px 20px;
}

.container {
    height: 30px;
    width: 150px;
    display: inline-block;
    top: 0;
}

select {
    color: #009F7F;
    border-radius: 5px;
    border: 1px solid rgb(239, 233, 233);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    width: 130px;
}

ul {
    margin-top: 25px;
    display: flex;
    float: right;
}

li {
    margin-right: 28px;
    font-weight: 16px;
    color: #1F2937;
}

.xyz {
    background-color: #009F7F;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    margin-top: -10px;
}
article{
    text-align: center;
    color: #5c5e60ba;
    font-size: small;
}

footer{
    display: none;
}

.modal {
    display: none;
}

@media (max-width: 360px){
    body{
        background-color: #F3F4F6;
        text-align: center;
    }
    header{
        background-color: white;
        width: auto;
        position: sticky;
    }
    
    .image {
        height: 20px;
    }
    
    ul , li, select {
       display: none;
    }

    article{
        font-size: xx-small;
    }

    article img{
        height: 250px;
        width: 320px;
        margin-top: 40px;
    }

    footer {
        background-color: white;
        display: block;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #F3F4F6;
        padding: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.03);
        position: fixed;

        bottom: 0;
        right: 0;

        left: 0;

        z-index: 999;
    }

    .modal {
        /* display: none; */
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1000;
        /* Sit on top */
        left: 0;
        top: -55px;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    .imageofmodal{
        height: 24px;
        width: 150px;
        margin-bottom: 20px;
    }
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        color: #1F2937;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        height: 100%;
        /* height: 100%;
        width: 100%; */
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    footer {
        background-color: white;
        display: block;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #F3F4F6;
        padding: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.03);
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 999;
    }


    /* .modal-content{
        display: flex;
        flex-direction: column;
    } */

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .modal a{
        display: flex;
        text-decoration: none;
        color: #1F2937;
        margin-bottom: 20px;
    }
}
